form { 
    border: 3px solid #f1f1f1; 
    height: 200px;
} 
    
input[type=text]{ 
    width: 100%; 
    padding: 12px 20px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
    background-color: #a8e999;
}  
    
.link { 
    padding: 1em 1.5em;
    text-decoration: none;
    background-color:#42a680; 
    color: white; 
    padding: 14px 20px; 
    margin-top: 8px 10px; 
    border: none; 
    cursor: pointer; 
    width: 50vw;
    align-self: center;
}

.inputs{
    margin-bottom: 20px;
}
    
.container { 
    padding: 16px;
    width: 50vw;
}