form { 
    border: 3px solid #f1f1f1; 
} 
    
input[type=text]{ 
    width: 100%; 
    padding: 12px 20px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
    background-color: #a8e999;
}  
    
input[type=submit] { 
    background-color:#42a680; 
    color: white; 
    padding: 14px 20px; 
    margin: 8px 0; 
    border: none; 
    cursor: pointer; 
    width: 100%;
    align-self: center;
}
    
.container { 
    padding: 16px;
    width: 50vw;
}