.container { 
    padding: 16px;
    width: 50vw;
}

button{
    background-color:#42a680; 
    color: white; 
    padding: 14px 20px; 
    margin: 8px 0; 
    border: none; 
    cursor: pointer; 
    width: 100%;
    align-self: center;
}